In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import os
import fastai
from fastai import *
from fastai.vision import *

In [3]:
valid_df = pd.read_csv('valid.csv')
valid_df.columns = ['img_path', 'identity', 'width', 'hight']
valid_df.describe()

              width         hight
count  41323.000000  41323.000000
mean     245.787745    271.245553
std       29.372765     38.141079
min      200.000000    145.000000
25%      220.000000    242.000000
50%      244.000000    267.000000
75%      270.000000    297.000000
max      300.000000    680.000000

In [4]:
valid_df.head()

              img_path identity  width  hight
0  n000001/0014_01.jpg  n000001    263    274
1  n000001/0018_01.jpg  n000001    272    283
2  n000001/0020_01.jpg  n000001    283    292
3  n000001/0021_01.jpg  n000001    265    283
4  n000001/0024_01.jpg  n000001    221    221

# the same for train

In [5]:
train_df = pd.read_csv('dataset/train.csv')
train_df.columns = ['img_path', 'identity', 'width', 'hight']
train_df.describe()

               width          hight
count  760495.000000  760495.000000
mean      245.854973     270.000676
std        29.340138      38.044950
min       200.000000     131.000000
25%       220.000000     241.000000
50%       244.000000     266.000000
75%       271.000000     296.000000
max       300.000000     700.000000

In [6]:
train_df[['identity']].groupby('identity').apply(
    lambda dfg: len(dfg)).describe()

count    8631.000000
mean       88.112038
std        29.792062
min        11.000000
25%        67.000000
50%        87.000000
75%       108.000000
max       220.000000
dtype: float64